*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

:root {
    --bg-body: rgb(236, 233, 228);
    --bg-txt: #211915ff;
    --light-color: #fdfdfd;
    --shadow: 0px 15px 15px -3px rgba(0,0,0,0.2);
}

body {
    background-color: var(--bg-body);
    height: max-content;
}

h2, h3 {
    margin-bottom: 20px;
}

.o-header_headerContainer{
    background-color: var(--bg-txt);
    position: relative;
}

.a-title_mainTitle {
    position: fixed;
    z-index: 2;
    right: 0;
    font-style: italic;
    font-size: 1.5em;
    padding: 5px 20px;
    background-color: #f8e12eff;
    color: var(--bg-txt);
    display: inline-block;
}

.m-imgContainer_imgageaHeaderContainer {
    height: 323px;
}

.a-img_imageHeader {
    filter: brightness(70%);
    position: relative;
    top: 39px;
    width: 100%;
    height: 323px;
    object-fit: cover;
    object-position: center;
}

.a-imgItem_logo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35% 35% 35% 5%;
    width: 200px;
    padding: 20px;
    margin: 20px;
    bottom: 0;
}

.o-nav_menu {
    position: fixed;
    z-index: 1;
    background-color: var(--bg-txt);
    color: var(--light-color);
    width: 100%;
    height: 39px;
    top: 0px;
    right: 0px;
}

.a-anchor_navItem {
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    transition: background-color 0.5s ease-in;
}

.a-anchor_navItem:hover {
    background-color: var(--light-color);
    color: var(--bg-txt);
}
.o-section_mainSectionConteiner{
    position: relative;
    top: 39px;     
    padding-bottom: 5px;
}

.a-title_titleMainSection {
    background-color: var(--light-color);
    box-shadow: var(--shadow);
    color: var(--bg-txt);
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px 20px;
}

.m-article_articleMainSection {
    background-color: var(--light-color);
    color: var(--bg-txt);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 20px;
    margin: 50px 15%;
    transition: transform 0.2s ease;
}
.m-article_articleMainSection h2,
.m-article_articleMainSection h3 {
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(90deg, rgba(52,52,52,1) 0%, rgba(139,139,139,1) 41%, rgba(255,255,255,0) 100%) 1;
}

.m-article_articleMainSection:hover {
    transform: scale(1.02);
}

.indent {
    text-indent: 20px;
}

.a-anchor_linkMail {
    text-decoration: none;
}

