* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
  }

:root {
    --dark-color: #211915ff;
    --light-color1: #ece9e4;
    --light-color2: #fdfdfd;
    --yellow-color: #f8e12eff;
    --shadow: 0px 15px 15px -3px rgba(0,0,0,0.2);
    --border-gradient: linear-gradient(90deg, rgba(52,52,52,1) 0%, rgba(139,139,139,1) 41%, rgba(255,255,255,0) 100%) 1;
}

body {
    background-color: var(--light-color1);
}

h2, h3, h4 {
    margin-bottom: 20px;
}

.a-title_mainTitle{
    z-index: 11;
    padding: 5px 15px;
    background-color: var(--yellow-color);
    color: var(--dark-color);
    display: flex;
    height: 49px;
    align-items: center;
    margin-right: auto;
}

.a-img_imageHeader {
    filter: brightness(65%);
    width: 100%;
    margin-top: 49px;
    height: calc(80vh - 49px);
    object-fit: cover;
}

.m-imgContainer_imgageaHeaderContainer {
    height: 80vh;
}

.o-nav_menu{
    background-color: var(--dark-color);
    color: var(--light-color1);
    position: fixed;    
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
}

.m-navItems-container {
    display: flex;
    background-color: var(--dark-color);
}

.a-anchor_navItem {
    text-decoration: none;
    color: var(--light-color1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.5s ease-in;
}

.a-anchor_navItem:hover {
    background-color: var(--light-color1);
    color: var(--dark-color);
}

.m-imgContainer_logo {
    display: flex;
    position: absolute;
    top: 49px;    
    width: 100%;
    height: calc(80vh - 49px);
    justify-content: center;
    align-items: center;
}

.a-imgItem_logo {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35%;
    width: 200px;
    padding: 20px;
    margin: 20px;
    transition: all 0.5s ease;
}

.a-imgItem_logo:hover {
    transform: scale(1.3);
}

.a-title_titleMainSection {
    background-color: var(--light-color2);
    box-shadow: var(--shadow);
    color: var(--dark-color);
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px 20px;
}

.m-article_articleMainSection, 
.m-article_articleMapSection {
    background-color: var(--light-color2);
    color: var(--dark-color);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 20px;
    margin: 50px 15%; 
}

.m-article_articleMainSection h2,
.m-article_articleMainSection h3, 
.m-article_articleMapSection h2, 
.m-article_articleMapSection h3 {
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: var(--border-gradient);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    background-color: var(--yellow-color);
    padding: 20px 0;

}

.center{
    text-align: center;
}

.active {
    background-color: hsl(20, 22%, 20%);
}

.indent {
    text-indent: 20px;
}

.line {
    text-decoration: underline;
}

.a-anchor_linkMail {
    text-decoration: none;
}

.pb {
    padding-bottom: 20px;
}

.mt {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* Estilos de la tabla */

.tableContainer {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.o-table_tableSchedule{
    margin: 40px 0px;
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    border-bottom: 2px solid black;
}

th {
    padding: 10px;
    margin: auto;
    text-align: start;
}

td{
    padding: 10px;
    border-bottom: 1px solid black;
    white-space:nowrap; 
    vertical-align:top;
}

/* Estilos de las listas */

dl{
    margin-bottom: 40px;
}

ol{
    list-style-position: inside;
    margin-bottom: 40px;
}

.a-strong_titleList {
    margin-top: 20px;
}

ol.alpha {
    list-style:lower-alpha;
    list-style-position: inside;
}

ul li {
    list-style-type: none;
}

ul .circle {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 40px;
}

/* Estilos del formulario */

form h3{
    margin-top: 30px;
}

fieldset {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

label {
    white-space: nowrap;
}

input {
    margin: 10px 0;
}

#fname,
#lname,
#st_addr,
#city,
#zcode {
    width: 100%;
}

.jc-felx-start {
    justify-content:flex-start;
}

.container-inputs:first-child{
    white-space: nowrap;
    padding-right: 20px;
}

.permission-text {
    font-family: monospace;
}

.btn{
    background-color: var(--dark-color);
    color: var(--light-color1);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: var(--yellow-color);
    color: var(--dark-color);
    outline: 1px solid var(--dark-color);
}

[type="text"], 
[type="number"], 
[type="date"] {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

[type="text"]:hover, 
[type="number"]:hover, 
[type="date"]:hover {
    border: none;
    border-bottom: 1px solid var(--yellow-color);
}

[type="text"]:focus-visible, 
[type="number"]:focus-visible, 
[type="date"]:focus-visible {
    outline: none;
    border: none;
    background-color: var(--light-color1);
    border-bottom: 1px solid var(--yellow-color);
}

select{
    background-color: var(--light-color2);
    border: none;
    border-bottom: 1px solid var(--dark-color);
}


select:focus-visible {
    border: none;
    outline: 1px solid var(--yellow-color);
    background-color: var(--light-color1);
}

/* Estilo de los mapas */

iframe {
    width: 100%;
    border-radius: 10px;
    outline: 2px solid var(--light-color1);
    transition: all 0.5s ease;
}

.anchor_schedules {
    display: block;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.anchor_schedules:last-child {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

@media screen and (max-width: 955px) { 
    .m-navItems-container{
        width: 100%;
        position: absolute;
        top: 49px;
        left: 100%;
        flex-direction: column;
        background-color: var(--dark-color);
        transform: translateX(0);
        transition: .6s;
    }

    nav .navbar-toggle{
        display: grid !important;
    }

}


nav .navbar-toggle{
    display: none;
    height: min-content;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

nav .navbar-toggle .bar{
    width: 30px;
    height: 3px;
    margin-bottom: 10px;
    background-color: var(--yellow-color);
    border-radius: 10%;
    transition: .4s;
}

#toggle {
    display: none;
}


#toggle:checked ~ nav .m-navItems-container {
    transform: translateX(-100%);
}

#toggle:checked ~ nav .navbar-toggle {
    margin-top: 22px;
}

#toggle:checked ~ nav .navbar-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}


#toggle:checked ~ nav .navbar-toggle .bar:nth-child(2) {
    display: none;
}

#toggle:checked ~ nav .navbar-toggle .bar:nth-child(3) {
    transform: rotate(-45deg);
}

@media screen and (max-width: 855px) { 
    .m-article_articleMainSection, 
    .m-article_articleMapSection {
        border-radius: 0px;
        padding: 20px;
        margin: 50px 0; 
    }
}

@media screen and (max-width: 597px) { 
    fieldset {
        flex-direction: column;
        gap: 0px;
        align-items: start;
    }

    [type="text"], 
    [type="number"], 
    [type="date"] {
        margin-bottom: 40px;
    }

    .container {
        flex-direction: column;
    }

    .grade-radios{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
}