* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

:root {
    --dark-color: #211915ff;
    --light-color1: #ece9e4;
    --light-color2: #fdfdfd;
    --yellow-color: #f8e12eff;
    --shadow: 0px 15px 15px -3px rgba(0,0,0,0.2);
    --border-gradient: linear-gradient(90deg, rgba(52,52,52,1) 0%, rgba(139,139,139,1) 41%, rgba(255,255,255,0) 100%) 1;
}

body {
    background-color: var(--light-color1);
}

h2, h3, h4 {
    margin-bottom: 20px;
}

.a-title_mainTitle{
    z-index: 1;
    padding: 5px 15px;
    background-color: var(--yellow-color);
    color: var(--dark-color);
    display: flex;
    position: fixed;
}

.a-img_imageHeader {
    filter: brightness(70%);
    width: 100%;
    margin-top: 49px;
    height: calc(80vh - 49px);
    object-fit: cover;
}

.m-imgContainer_imgageaHeaderContainer {
    height: 80vh;
}

.o-nav_menu{
    background-color: var(--dark-color);
    color: var(--light-color1);
    position: fixed;    
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
}

.a-anchor_navItem {
    text-decoration: none;
    color: var(--light-color1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.5s ease-in;
}

.a-anchor_navItem:hover {
    background-color: var(--light-color1);
    color: var(--dark-color);
}

.m-imgContainer_logo {
    display: flex;
    position: absolute;
    top: 49px;    
    width: 100%;
    height: calc(80vh - 49px);
    justify-content: center;
    align-items: center;
}

.a-imgItem_logo {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35% 35% 35% 5%;
    width: 200px;
    padding: 20px;
    margin: 20px;
    transition: all 0.5s ease;
}

.a-imgItem_logo:hover {
    transform: scale(1.3);
}

.a-title_titleMainSection {
    background-color: var(--light-color2);
    box-shadow: var(--shadow);
    color: var(--dark-color);
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px 20px;
}

.m-article_articleMainSection {
    background-color: var(--light-color2);
    color: var(--dark-color);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 20px;
    margin: 50px 15%; 
}

.m-article_articleMainSection h2,
.m-article_articleMainSection h3 {
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: var(--border-gradient);
}

.center{
    text-align: center;
}

.active {
    background-color: hsl(20, 22%, 20%);
}

.indent {
    text-indent: 20px;
}

.line {
    text-decoration: underline;
}

.a-anchor_linkMail {
    text-decoration: none;
}

.pb {
    padding-bottom: 20px;
}

.mt {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* Estilos de la tabla */

.o-table_tableSchedule{
    margin: 40px 0px;
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 2px solid black;
}

th {
    padding: 10px;
    margin: auto;
    text-align: start;
}

td{
    padding: 10px;
    border-bottom: 1px solid black;
}

/* Estilos de las listas */

dl{
    margin-bottom: 40px;
}

ol{
    list-style-position: inside;
    margin-bottom: 40px;
}

.a-strong_titleList {
    margin-top: 20px;
}

ol.alpha {
    list-style:lower-alpha;
    list-style-position: inside;
}


ul li:first-child {
    list-style-type: none;
}

ul li:last-child {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 40px;
}